<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This site was created by Subhas Bodaki. It uses mapbox.com and weatherstack.com  to fetch the weather</p>
        <img class="portrait" src="img/robot.png" >
    </div>

    {{>footer}}
</body>
</html>